@import '../base/mixins';

.footer {
    background-color: $bg-footer-copyright;

    &__container {
        padding: 1.7% 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__copyright {
        @include footer-content($weight: 700);
    }

    &__action {
        @include footer-content;
    }
}