@import '../base/extends';

.header {
    padding: 2.2% 0;
    background-color: $bg-header-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &____logo-image {
        max-width: 80px;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-mobile {
        &__nav,
        &__social-media {
            display: none;
        }
    }

    &__nav .header__nav-list {
        display: flex;
        flex-direction: row;
        
        &-item {
            margin-right: 28px;

            & a {
                font-family: $font-secondary;
                font-size: $font-size-main;
                font-weight: 700;
                line-height: 14px;
                letter-spacing: 0px;
                color: $main-light-color;
                position: relative;
            }
    
            & a:after {
                content: ''; 
                position: absolute; 
                left: 0;
                bottom: -2px; 
                width: 0;
                height: 2px; 
                background-color: $hover-color;
                transition: width 0.3s ease;
            }
            
            & a:hover:after {
                width: 100%; 
            }

            &:last-child {
                margin-right: 34px;
            }
        }
    }

    &__social-media {
        &-list {
            position: relative;
            display: flex;
            flex-direction: row;
            line-height: 14px;

            &:before {
                @extend %nav-separators;
                left: -17px;
                bottom: 0;
            }

            &:after {
                @extend %nav-separators;
                top: 0;
                right: 17px;
            }

            &__image {
                width: 20px;
            }
        }

        &-item {
            margin-right: 21px;
    
            &:last-child {
                margin-right: 34px;
            }
        }  
    }

    &__search-image {
        width: 20px;
    }
}

@media screen and (max-width: 760px) {
    .header {

        &__search {
            text-align: center;

            & img {
                width: 40%;
            }
        }
       

        &-mobile {
            &__nav,
            &__social-media {
                display: block;
            }

            &__nav img {
                max-width: 50%;
            }
            &__social-media img {
                max-width: 40%;
            }
        } 

        &__menu {
            max-width: 200px;
            justify-content: space-between;
        }
  
        &__nav,
        &__social-media {
            display: none;
        }

        &__nav.active {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $bg-mobile-menu;
            z-index: 3;
            padding-top: 80px;
            overflow-y: auto;

            & .header__nav-list {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin: 0 auto;
                justify-content: flex-start;
                align-items: center;
            }

            & .header__nav-list li {
                margin-bottom: 20px;
                padding: 10px;

                &:last-child {
                    margin-bottom: 0; 
                }
                
                & a {
                    color: $title-light-color;
                    font-size: 24px;
                    padding: 20px;
                }
            }
        }

        &__social-media {
            &.active {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: $bg-mobile-menu;
                z-index: 3;
                padding-top: 80px;
                overflow-y: auto;
            }

            &-list {

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                &::before,
                &::after {
                    display: none;
                }
            }

            &-item:last-child {
                margin-right: 30px;
            }

            &__image {
                width: 100px;
            }
        } 
    }
    .menu-open {
        overflow: hidden; 
    }
}

