%categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

%category {
    color: $title-light-color;
    font-family: $font-secondary;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: $border-radius-category;
    background: $bg-category-color;

    @media screen and (max-width: 767px) {
		font-size: calc($mobile-font-size-category + 
                    (($font-size-category - $mobile-font-size-category) / 1px + 
                    ($font-size-category - $mobile-font-size-category) / 1px * 0.7) * 
                    ((100vw - 320px) / 1440));
	}

    @media screen and (min-width: 767px) {
		font-size: calc($mobile-font-size-category + ($font-size-category - $mobile-font-size-category) / 1px 
                        * (100vw / 1440));
	}
}

%nav-separators {
    content: "";
    position: absolute;
    width: .5px;
    height: 20px;
    background-color: $main-light-color;
}

%main-title {
    color: $title-light-color; 
    font-weight: 700;

    @media screen and (max-width: 767px) {
		font-size: calc($mobile-font-size-section-title + 
                    (($font-size-section-title - $mobile-font-size-section-title) / 1px + 
                    ($font-size-section-title - $mobile-font-size-section-title) / 1px * 0.7) * 
                    ((100vw - 320px) / 1440));
        letter-spacing: 1.2px;
        line-height: 120%;
	}

    @media screen and (min-width: 767px) {
		font-size: calc($mobile-font-size-section-title + ($font-size-section-title - $mobile-font-size-section-title) / 1px 
                        * (100vw / 1440));
        letter-spacing: 2.5px;
        line-height: 150%;
	}
}

%section-titles {
    color: $title-dark-color;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    display: block;

    @media screen and (max-width: 767px) {
		font-size: calc($mobile-font-size-section-title + 
                    (($font-size-section-title - $mobile-font-size-section-title) / 1px + 
                    ($font-size-section-title - $mobile-font-size-section-title) / 1px * 0.7) * 
                    ((100vw - 320px) / 1440));
        letter-spacing: 1.2px;
        line-height: 120%;
	}

    @media screen and (min-width: 767px) {
		font-size: calc($mobile-font-size-section-title + ($font-size-section-title - $mobile-font-size-section-title) / 1px 
                        * (100vw / 1440));
        letter-spacing: 2.5px;
        line-height: 150%;
	}
}