@mixin title-topics($color: $title-dark-color, $margin: 17px, $letter: 1px) {
    color: $color;
    font-weight: 700;
    line-height: 25px;
    max-height: 50px;
    overflow: hidden;
    margin: $margin 0;
    letter-spacing: $letter;

    @media screen and (max-width: 767px) {
        font-size: calc($mobile-font-size-topic-title + 
                    (($font-size-topic-title - $mobile-font-size-topic-title) / 1px + 
                    ($font-size-topic-title - $mobile-font-size-topic-title) / 1px * 0.7) * 
                    ((100vw - 320px) / 1440));
    }

    @media screen and (min-width: 767px) {
        font-size: calc($mobile-font-size-topic-title + ($font-size-topic-title - $mobile-font-size-topic-title) / 1px 
                        * (100vw / 1440));
    }
}

@mixin full-image-article($link: url('../../image/main/hero-topic/image.svg')) {
    background: $link;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

@mixin separator($margin: 5px) {
    width: 30px;
    height: 1px;
    background-color: $main-light-color;
    margin: $margin;

    @media screen and (max-width: 767px) {
        width: 15px;
    }
}

@mixin day($color: $main-light-color) {
    color: $color;
    font-weight: 400;
    line-height: 15.36px;
    letter-spacing: .9px;

    @media screen and (max-width: 767px) {
		font-size: calc($mobile-font-size-main + 
                    (($font-size-main - $mobile-font-size-main) / 1px + 
                    ($font-size-main - $mobile-font-size-main) / 1px * 0.7) * 
                    ((100vw - 320px) / 1440));
	}

    @media screen and (min-width: 767px) {
		font-size: calc($mobile-font-size-main + ($font-size-main - $mobile-font-size-main) / 1px 
                        * (100vw / 1440));
	}
}

@mixin description($color: $main-light-color) {
    color: $color;
    font-weight: 400; 
    max-height: 22%;
    overflow: hidden;

    @media screen and (max-width: 767px) {
		font-size: calc($mobile-font-size-main + 
                    (($font-size-main - $mobile-font-size-main) / 1px + 
                    ($font-size-main - $mobile-font-size-main) / 1px * 0.7) * 
                    ((100vw - 320px) / 1440));
        line-height: 16px;
        letter-spacing: .8px;
	}

    @media screen and (min-width: 767px) {
		font-size: calc($mobile-font-size-main + ($font-size-main - $mobile-font-size-main) / 1px 
                        * (100vw / 1440));
        line-height: 20px;
        letter-spacing: 1px;
	}
}

@mixin footer-content($weight: 400) {
    color: $main-light-color;
    font-weight: $weight;
    letter-spacing: 1px;
    margin-top: 15px;

    @media screen and (max-width: 767px) {
		font-size: calc($mobile-font-size-secondary + 
                    (($font-size-secondary - $mobile-font-size-secondary) / 1px + 
                    ($font-size-secondary - $mobile-font-size-secondary) / 1px * 0.7) * 
                    ((100vw - 320px) / 1440));
	}

    @media screen and (min-width: 767px) {
		font-size: calc($mobile-font-size-secondary + ($font-size-secondary - $mobile-font-size-secondary) / 1px 
                        * (100vw / 1440));
	}
}
