$font-main: 'Lora', serif; 
$font-secondary: 'Roboto', sans-serif; 

$main-light-color: rgba(229, 229, 229, 1); 
$title-light-color: rgba(255, 255, 255, 1); 

$main-dark-color: rgba(108, 117, 125, 1); 
$title-dark-color: rgba(73, 80, 87, 1);

$hover-color: rgba(212, 163, 115, 1);

$bg-header-color: rgba(0, 0, 0, 0.2); 
$bg-category-color: rgba(255, 255, 255, 0.15);
$bg-contact-color: rgba(33, 37, 41, 1); 
$bg-footer-copyright: rgba(52, 58, 64, 1);
$bg-mobile-menu: rgba(0, 0, 0, 0.9);

$border-radius-category: 8px;
$border-radius-topics: 5px;

$font-size-category: 10px;
$font-size-main: 12px;
$font-size-secondary: 14px;
$font-size-topic-title: 18px;
$font-size-section-title: 36px; 


$mobile-font-size-category: 8px;
$mobile-font-size-main: 11px;
$mobile-font-size-secondary: 12px;
$mobile-font-size-topic-title: 17px;
$mobile-font-size-section-title: 20px;






