@import './base/reset';
@import './base/variables';

@import './blocks/header';
@import './blocks/main/hero-article';
@import './blocks/main/section-popular-topics';
@import './blocks/main/full-screen-article';
@import './blocks/main/section-editor-pick';
@import './blocks/main/section-contacts';
@import './blocks/footer';

body {
    font-family: $font-main;
    background-color: $main-light-color;
}

.container {
    width: 100%;
    padding: 0 4.6%;
    margin: auto 0;
}

hr {
    background-color: $main-light-color;
    max-width: 269.996px;
    height: 0.5px;
    margin: 21px 0 26px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    margin-top: 10%;
}