* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

button {
  font-family: inherit;
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.editor-pick__item-categories, .full-screen-topic__info-categories, .popular-topics__item-categories, .hero .categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.editor-pick__item-categories .category, .full-screen-topic__info-categories .category, .popular-topics__item-categories .category, .hero .categories .category {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 5px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
}
@media screen and (max-width: 767px) {
  .editor-pick__item-categories .category, .full-screen-topic__info-categories .category, .popular-topics__item-categories .category, .hero .categories .category {
    font-size: calc(8px + 3.4 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .editor-pick__item-categories .category, .full-screen-topic__info-categories .category, .popular-topics__item-categories .category, .hero .categories .category {
    font-size: calc(8px + 0.1388888889vw);
  }
}

.header__social-media-list:after, .header__social-media-list:before {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 20px;
  background-color: rgb(229, 229, 229);
}

.full-screen-topic__info-title, .hero__content-title {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .full-screen-topic__info-title, .hero__content-title {
    font-size: calc(20px + 27.2 * (100vw - 320px) / 1440);
    letter-spacing: 1.2px;
    line-height: 120%;
  }
}
@media screen and (min-width: 767px) {
  .full-screen-topic__info-title, .hero__content-title {
    font-size: calc(20px + 1.1111111111vw);
    letter-spacing: 2.5px;
    line-height: 150%;
  }
}

.editor-pick__title, .popular-topics__title {
  color: rgb(73, 80, 87);
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  display: block;
}
@media screen and (max-width: 767px) {
  .editor-pick__title, .popular-topics__title {
    font-size: calc(20px + 27.2 * (100vw - 320px) / 1440);
    letter-spacing: 1.2px;
    line-height: 120%;
  }
}
@media screen and (min-width: 767px) {
  .editor-pick__title, .popular-topics__title {
    font-size: calc(20px + 1.1111111111vw);
    letter-spacing: 2.5px;
    line-height: 150%;
  }
}

.header {
  padding: 2.2% 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
}
.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header____logo-image {
  max-width: 80px;
}
.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-mobile__nav, .header-mobile__social-media {
  display: none;
}
.header__nav .header__nav-list {
  display: flex;
  flex-direction: row;
}
.header__nav .header__nav-list-item {
  margin-right: 28px;
}
.header__nav .header__nav-list-item a {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  color: rgb(229, 229, 229);
  position: relative;
}
.header__nav .header__nav-list-item a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: rgb(212, 163, 115);
  transition: width 0.3s ease;
}
.header__nav .header__nav-list-item a:hover:after {
  width: 100%;
}
.header__nav .header__nav-list-item:last-child {
  margin-right: 34px;
}
.header__social-media-list {
  position: relative;
  display: flex;
  flex-direction: row;
  line-height: 14px;
}
.header__social-media-list:before {
  left: -17px;
  bottom: 0;
}
.header__social-media-list:after {
  top: 0;
  right: 17px;
}
.header__social-media-list__image {
  width: 20px;
}
.header__social-media-item {
  margin-right: 21px;
}
.header__social-media-item:last-child {
  margin-right: 34px;
}
.header__search-image {
  width: 20px;
}

@media screen and (max-width: 760px) {
  .header__search {
    text-align: center;
  }
  .header__search img {
    width: 40%;
  }
  .header-mobile__nav, .header-mobile__social-media {
    display: block;
  }
  .header-mobile__nav img {
    max-width: 50%;
  }
  .header-mobile__social-media img {
    max-width: 40%;
  }
  .header__menu {
    max-width: 200px;
    justify-content: space-between;
  }
  .header__nav, .header__social-media {
    display: none;
  }
  .header__nav.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 3;
    padding-top: 80px;
    overflow-y: auto;
  }
  .header__nav.active .header__nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
  }
  .header__nav.active .header__nav-list li {
    margin-bottom: 20px;
    padding: 10px;
  }
  .header__nav.active .header__nav-list li:last-child {
    margin-bottom: 0;
  }
  .header__nav.active .header__nav-list li a {
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 20px;
  }
  .header__social-media.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 3;
    padding-top: 80px;
    overflow-y: auto;
  }
  .header__social-media-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .header__social-media-list::before, .header__social-media-list::after {
    display: none;
  }
  .header__social-media-item:last-child {
    margin-right: 30px;
  }
  .header__social-media__image {
    width: 100px;
  }
  .menu-open {
    overflow: hidden;
  }
}
.editor-pick__item-categories, .full-screen-topic__info-categories, .popular-topics__item-categories, .hero .categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.editor-pick__item-categories .category, .full-screen-topic__info-categories .category, .popular-topics__item-categories .category, .hero .categories .category {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 5px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
}
@media screen and (max-width: 767px) {
  .editor-pick__item-categories .category, .full-screen-topic__info-categories .category, .popular-topics__item-categories .category, .hero .categories .category {
    font-size: calc(8px + 3.4 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .editor-pick__item-categories .category, .full-screen-topic__info-categories .category, .popular-topics__item-categories .category, .hero .categories .category {
    font-size: calc(8px + 0.1388888889vw);
  }
}

.header__social-media-list:before, .header__social-media-list:after {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 20px;
  background-color: rgb(229, 229, 229);
}

.full-screen-topic__info-title, .hero__content-title {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .full-screen-topic__info-title, .hero__content-title {
    font-size: calc(20px + 27.2 * (100vw - 320px) / 1440);
    letter-spacing: 1.2px;
    line-height: 120%;
  }
}
@media screen and (min-width: 767px) {
  .full-screen-topic__info-title, .hero__content-title {
    font-size: calc(20px + 1.1111111111vw);
    letter-spacing: 2.5px;
    line-height: 150%;
  }
}

.editor-pick__title, .popular-topics__title {
  color: rgb(73, 80, 87);
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  display: block;
}
@media screen and (max-width: 767px) {
  .editor-pick__title, .popular-topics__title {
    font-size: calc(20px + 27.2 * (100vw - 320px) / 1440);
    letter-spacing: 1.2px;
    line-height: 120%;
  }
}
@media screen and (min-width: 767px) {
  .editor-pick__title, .popular-topics__title {
    font-size: calc(20px + 1.1111111111vw);
    letter-spacing: 2.5px;
    line-height: 150%;
  }
}

.hero {
  background: url("../../image/main/hero-topic/image.svg");
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
.hero .categories {
  justify-content: flex-start;
}
.hero__content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
}
.hero__content-conteiner {
  max-width: 550px;
  max-height: 480px;
  margin: 21% 0 11%;
}
.hero__content-title {
  margin: 4% 0 1%;
}
.hero__content-time {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
}
.hero__content-time time {
  color: rgb(229, 229, 229);
  font-weight: 400;
  line-height: 15.36px;
  letter-spacing: 0.9px;
}
@media screen and (max-width: 767px) {
  .hero__content-time time {
    font-size: calc(11px + 1.7 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .hero__content-time time {
    font-size: calc(11px + 0.0694444444vw);
  }
}
@media screen and (max-width: 767px) {
  .hero__content-time {
    gap: 2px;
  }
}
.hero__content-separator {
  width: 30px;
  height: 1px;
  background-color: rgb(229, 229, 229);
  margin: 5px;
}
@media screen and (max-width: 767px) {
  .hero__content-separator {
    width: 15px;
  }
}
.hero__content-description {
  color: rgb(229, 229, 229);
  font-weight: 400;
  max-height: 22%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .hero__content-description {
    font-size: calc(11px + 1.7 * (100vw - 320px) / 1440);
    line-height: 16px;
    letter-spacing: 0.8px;
  }
}
@media screen and (min-width: 767px) {
  .hero__content-description {
    font-size: calc(11px + 0.0694444444vw);
    line-height: 20px;
    letter-spacing: 1px;
  }
}

.editor-pick__item-categories, .full-screen-topic__info-categories, .popular-topics__item-categories, .hero .categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.editor-pick__item-categories .category, .full-screen-topic__info-categories .category, .popular-topics__item-categories .category, .hero .categories .category {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 5px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
}
@media screen and (max-width: 767px) {
  .editor-pick__item-categories .category, .full-screen-topic__info-categories .category, .popular-topics__item-categories .category, .hero .categories .category {
    font-size: calc(8px + 3.4 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .editor-pick__item-categories .category, .full-screen-topic__info-categories .category, .popular-topics__item-categories .category, .hero .categories .category {
    font-size: calc(8px + 0.1388888889vw);
  }
}

.header__social-media-list:before, .header__social-media-list:after {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 20px;
  background-color: rgb(229, 229, 229);
}

.full-screen-topic__info-title, .hero__content-title {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .full-screen-topic__info-title, .hero__content-title {
    font-size: calc(20px + 27.2 * (100vw - 320px) / 1440);
    letter-spacing: 1.2px;
    line-height: 120%;
  }
}
@media screen and (min-width: 767px) {
  .full-screen-topic__info-title, .hero__content-title {
    font-size: calc(20px + 1.1111111111vw);
    letter-spacing: 2.5px;
    line-height: 150%;
  }
}

.editor-pick__title, .popular-topics__title {
  color: rgb(73, 80, 87);
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  display: block;
}
@media screen and (max-width: 767px) {
  .editor-pick__title, .popular-topics__title {
    font-size: calc(20px + 27.2 * (100vw - 320px) / 1440);
    letter-spacing: 1.2px;
    line-height: 120%;
  }
}
@media screen and (min-width: 767px) {
  .editor-pick__title, .popular-topics__title {
    font-size: calc(20px + 1.1111111111vw);
    letter-spacing: 2.5px;
    line-height: 150%;
  }
}

.popular-topics__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2.1% 0;
}
.popular-topics__category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.popular-topics__category-item {
  margin-right: 20px;
}
.popular-topics__category-item:last-child {
  margin-right: 0;
}
.popular-topics__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.popular-topics__category-button {
  display: none;
}
@media screen and (max-width: 511px) {
  .popular-topics__category-button {
    display: block;
    color: rgb(73, 80, 87);
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
  }
  .popular-topics__category-button:hover {
    color: rgb(212, 163, 115);
  }
  .popular-topics__links {
    position: relative;
  }
  .popular-topics__category {
    display: none;
  }
  .popular-topics__category-item {
    margin-right: 0;
  }
  .popular-topics__category.active {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    width: 30%;
    text-align: center;
    border: 1px solid rgb(108, 117, 125);
  }
}
.popular-topics__category-item a, .popular-topics__category-action {
  color: rgb(73, 80, 87);
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}
@media screen and (max-width: 767px) {
  .popular-topics__category-item a, .popular-topics__category-action {
    font-size: calc(12px + 3.4 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .popular-topics__category-item a, .popular-topics__category-action {
    font-size: calc(12px + 0.1388888889vw);
  }
}
.popular-topics__category-item a:hover, .popular-topics__category-action:hover {
  color: rgb(212, 163, 115);
}
.popular-topics__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 55px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (max-width: 738px) {
  .popular-topics__list {
    justify-content: center;
  }
}
.popular-topics__item {
  width: 24%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
@media screen and (max-width: 1144px) and (min-width: 913px) {
  .popular-topics__item {
    width: 30%;
  }
}
@media screen and (max-width: 913px) and (min-width: 541px) {
  .popular-topics__item {
    width: 49%;
  }
}
@media screen and (max-width: 541px) {
  .popular-topics__item {
    width: 90%;
  }
}
.popular-topics__item__block-image {
  position: relative;
  top: -1px;
  background-color: transparent;
  height: 100%;
}
.popular-topics__item-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(52, 58, 64);
}
.popular-topics__item-categories {
  justify-content: center;
  position: absolute;
  top: 25px;
  right: 20px;
}
.popular-topics__item-container {
  padding: 8% 4.8% 4%;
}
.popular-topics__item time {
  color: rgb(108, 117, 125);
  font-weight: 400;
  line-height: 15.36px;
  letter-spacing: 0.9px;
}
@media screen and (max-width: 767px) {
  .popular-topics__item time {
    font-size: calc(11px + 1.7 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .popular-topics__item time {
    font-size: calc(11px + 0.0694444444vw);
  }
}
.popular-topics__item-title {
  color: rgb(73, 80, 87);
  font-weight: 700;
  line-height: 25px;
  max-height: 50px;
  overflow: hidden;
  margin: 17px 0;
  letter-spacing: 1px;
}
@media screen and (max-width: 767px) {
  .popular-topics__item-title {
    font-size: calc(17px + 1.7 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .popular-topics__item-title {
    font-size: calc(17px + 0.0694444444vw);
  }
}
.popular-topics__item-description {
  color: rgb(108, 117, 125);
  font-weight: 400;
  max-height: 22%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .popular-topics__item-description {
    font-size: calc(11px + 1.7 * (100vw - 320px) / 1440);
    line-height: 16px;
    letter-spacing: 0.8px;
  }
}
@media screen and (min-width: 767px) {
  .popular-topics__item-description {
    font-size: calc(11px + 0.0694444444vw);
    line-height: 20px;
    letter-spacing: 1px;
  }
}
.popular-topics__item-author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 17px;
}
.popular-topics__item-author-avatar {
  max-width: 50px;
  border-radius: 50%;
}
.popular-topics__item-author-name {
  color: rgb(73, 80, 87);
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
}
@media screen and (max-width: 767px) {
  .popular-topics__item-author-name {
    font-size: calc(11px + 1.7 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .popular-topics__item-author-name {
    font-size: calc(11px + 0.0694444444vw);
  }
}
.popular-topics__item-author-position {
  color: rgb(108, 117, 125);
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}
@media screen and (max-width: 767px) {
  .popular-topics__item-author-position {
    font-size: calc(11px + 1.7 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .popular-topics__item-author-position {
    font-size: calc(11px + 0.0694444444vw);
  }
}

.editor-pick__item-categories, .full-screen-topic__info-categories, .hero .categories, .popular-topics__item-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.editor-pick__item-categories .category, .full-screen-topic__info-categories .category, .hero .categories .category, .popular-topics__item-categories .category {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 5px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
}
@media screen and (max-width: 767px) {
  .editor-pick__item-categories .category, .full-screen-topic__info-categories .category, .hero .categories .category, .popular-topics__item-categories .category {
    font-size: calc(8px + 3.4 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .editor-pick__item-categories .category, .full-screen-topic__info-categories .category, .hero .categories .category, .popular-topics__item-categories .category {
    font-size: calc(8px + 0.1388888889vw);
  }
}

.header__social-media-list:before, .header__social-media-list:after {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 20px;
  background-color: rgb(229, 229, 229);
}

.full-screen-topic__info-title, .hero__content-title {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .full-screen-topic__info-title, .hero__content-title {
    font-size: calc(20px + 27.2 * (100vw - 320px) / 1440);
    letter-spacing: 1.2px;
    line-height: 120%;
  }
}
@media screen and (min-width: 767px) {
  .full-screen-topic__info-title, .hero__content-title {
    font-size: calc(20px + 1.1111111111vw);
    letter-spacing: 2.5px;
    line-height: 150%;
  }
}

.editor-pick__title, .popular-topics__title {
  color: rgb(73, 80, 87);
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  display: block;
}
@media screen and (max-width: 767px) {
  .editor-pick__title, .popular-topics__title {
    font-size: calc(20px + 27.2 * (100vw - 320px) / 1440);
    letter-spacing: 1.2px;
    line-height: 120%;
  }
}
@media screen and (min-width: 767px) {
  .editor-pick__title, .popular-topics__title {
    font-size: calc(20px + 1.1111111111vw);
    letter-spacing: 2.5px;
    line-height: 150%;
  }
}

.full-screen-topic {
  background: url("../../image/main/full-screen-topic/full-screen-topic.svg");
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  margin-top: 10%;
}
.full-screen-topic__info {
  margin: 0 auto;
  padding: 14% 0 12%;
  text-align: center;
}
.full-screen-topic__info-categories {
  justify-content: center;
}
.full-screen-topic__info-title {
  max-width: 55%;
  margin: 2% auto 1%;
}
.full-screen-topic__info-description {
  color: rgb(229, 229, 229);
  font-weight: 400;
  max-height: 22%;
  overflow: hidden;
  max-width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .full-screen-topic__info-description {
    font-size: calc(11px + 1.7 * (100vw - 320px) / 1440);
    line-height: 16px;
    letter-spacing: 0.8px;
  }
}
@media screen and (min-width: 767px) {
  .full-screen-topic__info-description {
    font-size: calc(11px + 0.0694444444vw);
    line-height: 20px;
    letter-spacing: 1px;
  }
}
.full-screen-topic__info-separator {
  width: 30px;
  height: 1px;
  background-color: rgb(229, 229, 229);
  margin: 2.5% auto 1.6%;
}
@media screen and (max-width: 767px) {
  .full-screen-topic__info-separator {
    width: 15px;
  }
}
.full-screen-topic__info time {
  color: rgb(229, 229, 229);
  font-weight: 400;
  line-height: 15.36px;
  letter-spacing: 0.9px;
}
@media screen and (max-width: 767px) {
  .full-screen-topic__info time {
    font-size: calc(11px + 1.7 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .full-screen-topic__info time {
    font-size: calc(11px + 0.0694444444vw);
  }
}

.editor-pick__item-categories, .hero .categories, .popular-topics__item-categories, .full-screen-topic__info-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.editor-pick__item-categories .category, .hero .categories .category, .popular-topics__item-categories .category, .full-screen-topic__info-categories .category {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 5px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
}
@media screen and (max-width: 767px) {
  .editor-pick__item-categories .category, .hero .categories .category, .popular-topics__item-categories .category, .full-screen-topic__info-categories .category {
    font-size: calc(8px + 3.4 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .editor-pick__item-categories .category, .hero .categories .category, .popular-topics__item-categories .category, .full-screen-topic__info-categories .category {
    font-size: calc(8px + 0.1388888889vw);
  }
}

.header__social-media-list:before, .header__social-media-list:after {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 20px;
  background-color: rgb(229, 229, 229);
}

.hero__content-title, .full-screen-topic__info-title {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .hero__content-title, .full-screen-topic__info-title {
    font-size: calc(20px + 27.2 * (100vw - 320px) / 1440);
    letter-spacing: 1.2px;
    line-height: 120%;
  }
}
@media screen and (min-width: 767px) {
  .hero__content-title, .full-screen-topic__info-title {
    font-size: calc(20px + 1.1111111111vw);
    letter-spacing: 2.5px;
    line-height: 150%;
  }
}

.editor-pick__title, .popular-topics__title {
  color: rgb(73, 80, 87);
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  display: block;
}
@media screen and (max-width: 767px) {
  .editor-pick__title, .popular-topics__title {
    font-size: calc(20px + 27.2 * (100vw - 320px) / 1440);
    letter-spacing: 1.2px;
    line-height: 120%;
  }
}
@media screen and (min-width: 767px) {
  .editor-pick__title, .popular-topics__title {
    font-size: calc(20px + 1.1111111111vw);
    letter-spacing: 2.5px;
    line-height: 150%;
  }
}

.editor-pick__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 6%;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) and (min-width: 601px) {
  .editor-pick__container {
    justify-content: space-around;
  }
}
@media screen and (max-width: 600px) {
  .editor-pick__container {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .editor-pick__title {
    text-align: center;
  }
}
.editor-pick__item {
  width: 32%;
  position: relative;
  border-radius: 5px;
  background-color: rgb(52, 58, 64);
}
@media screen and (max-width: 1000px) and (min-width: 601px) {
  .editor-pick__item {
    width: 45%;
  }
  .editor-pick__item:last-child {
    margin-top: 6%;
  }
}
@media screen and (max-width: 600px) {
  .editor-pick__item {
    width: 80%;
    margin-top: 6%;
  }
  .editor-pick__item:first-child {
    margin-top: 0;
  }
}
.editor-pick__item-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.editor-pick__item-categories {
  justify-content: flex-end;
  position: absolute;
  top: 7%;
  right: 5%;
}
.editor-pick__item-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 8% 9%;
}
.editor-pick__item-info time {
  color: rgb(229, 229, 229);
  font-weight: 400;
  line-height: 15.36px;
  letter-spacing: 0.9px;
}
@media screen and (max-width: 767px) {
  .editor-pick__item-info time {
    font-size: calc(11px + 1.7 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .editor-pick__item-info time {
    font-size: calc(11px + 0.0694444444vw);
  }
}
.editor-pick__item-title {
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 25px;
  max-height: 50px;
  overflow: hidden;
  margin: 15px 0;
  letter-spacing: 2px;
}
@media screen and (max-width: 767px) {
  .editor-pick__item-title {
    font-size: calc(17px + 1.7 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .editor-pick__item-title {
    font-size: calc(17px + 0.0694444444vw);
  }
}
.editor-pick__item-description {
  color: rgb(229, 229, 229);
  font-weight: 400;
  max-height: 22%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .editor-pick__item-description {
    font-size: calc(11px + 1.7 * (100vw - 320px) / 1440);
    line-height: 16px;
    letter-spacing: 0.8px;
  }
}
@media screen and (min-width: 767px) {
  .editor-pick__item-description {
    font-size: calc(11px + 0.0694444444vw);
    line-height: 20px;
    letter-spacing: 1px;
  }
}

.contact {
  background-color: rgb(33, 37, 41);
  padding: 8.5% 0;
}
.contact__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 650px) {
  .contact__container {
    grid-template-rows: repeat 2, 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
.contact__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 1.2px;
}
@media screen and (max-width: 970px) {
  .contact__item {
    align-items: center;
  }
}
@media screen and (max-width: 970px) and (max-width: 650px) {
  .contact__item:nth-child(-n+2) {
    margin-bottom: 10%;
  }
}
.contact__item a {
  color: rgb(229, 229, 229);
  font-weight: 400;
  margin-bottom: 2px;
  max-width: 120px;
}
@media screen and (max-width: 767px) {
  .contact__item a {
    font-size: calc(11px + 1.7 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .contact__item a {
    font-size: calc(11px + 0.0694444444vw);
  }
}
.contact__item a:last-child {
  margin-bottom: 0;
}
.contact__item address {
  max-width: 135px;
  color: rgb(229, 229, 229);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  .contact__item address {
    font-size: calc(11px + 1.7 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .contact__item address {
    font-size: calc(11px + 0.0694444444vw);
  }
}
@media screen and (max-width: 900px) {
  .contact__item address {
    text-align: center;
  }
}
.contact__item__title {
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 25px;
  max-height: 50px;
  overflow: hidden;
  margin: 0 0;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 767px) {
  .contact__item__title {
    font-size: calc(17px + 1.7 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .contact__item__title {
    font-size: calc(17px + 0.0694444444vw);
  }
}
@media screen and (max-width: 900px) {
  .contact__item__title {
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .contact__social-media {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
.contact__social-media a {
  margin-right: 18px;
}
.contact__social-media a:last-child {
  margin-right: 0;
}

.footer {
  background-color: rgb(52, 58, 64);
}
.footer__container {
  padding: 1.7% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  color: rgb(229, 229, 229);
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: calc(12px + 3.4 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .footer__copyright {
    font-size: calc(12px + 0.1388888889vw);
  }
}
.footer__action {
  color: rgb(229, 229, 229);
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .footer__action {
    font-size: calc(12px + 3.4 * (100vw - 320px) / 1440);
  }
}
@media screen and (min-width: 767px) {
  .footer__action {
    font-size: calc(12px + 0.1388888889vw);
  }
}

body {
  font-family: "Lora", serif;
  background-color: rgb(229, 229, 229);
}

.container {
  width: 100%;
  padding: 0 4.6%;
  margin: auto 0;
}

hr {
  background-color: rgb(229, 229, 229);
  max-width: 269.996px;
  height: 0.5px;
  margin: 21px 0 26px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  margin-top: 10%;
}/*# sourceMappingURL=main.css.map */