@import '../../base/extends';
@import '../../base/mixins';

.full-screen-topic {
    @include full-image-article($link: url('../../image/main/full-screen-topic/full-screen-topic.svg'));
    margin-top: 10%;

    &__info {
        margin: 0 auto;
        padding: 14% 0 12%;
        text-align: center;

        &-categories {
            @extend %categories;
            justify-content: center;
            
            & .category {
                @extend %category;
            }
        }

        &-title {
            @extend %main-title;
            max-width: 55%;
            margin: 2% auto 1%;
        }

        &-description {
            @include description;
            max-width: 50%;
            margin: 0 auto;
        }

        &-separator {
            @include separator($margin: 2.5% auto 1.6%);
        }

        & time {
            @include day;
        }
    }
}