@import '../../base/extends';
@import '../../base/mixins';

.hero {
    @include full-image-article;

    & .categories {
        @extend %categories;
        justify-content: flex-start;
        
        & .category {
            @extend %category;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: baseline;

        &-conteiner {
            max-width: 550px;
            max-height: 480px;
            margin: 21% 0 11%;
        }

        &-title {
            @extend %main-title;
            margin: 4% 0 1%;
        }

        &-time {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: flex-start;

            & time {
                @include day;
            }

            @media screen and (max-width: 767px) {
                gap: 2px;
            }
        }

        &-separator {
            @include separator;
        }

        &-description {
            @include description;
        }
    }
}