.contact {
    background-color: $bg-contact-color;
    padding: 8.5% 0;

    &__container {
        display: grid; 
        grid-template-rows: 1fr; 
        grid-template-columns: repeat(4, 1fr);

        @media screen and (max-width: 650px) {
            grid-template-rows: repeat (2, 1fr); 
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        letter-spacing: 1.2px;

        @media screen and (max-width: 970px) {
            align-items: center;

            @media screen and (max-width: 650px) {
                &:nth-child(-n+2) {
                    margin-bottom: 10%; 
                }
            }
        }

        & a {
            color: $main-light-color;
            font-weight: 400;
            margin-bottom: 2px;
            max-width: 120px;

            @media screen and (max-width: 767px) {
                font-size: calc($mobile-font-size-main + 
                            (($font-size-main - $mobile-font-size-main) / 1px + 
                            ($font-size-main - $mobile-font-size-main) / 1px * 0.7) * 
                            ((100vw - 320px) / 1440));
            }
        
            @media screen and (min-width: 767px) {
                font-size: calc($mobile-font-size-main + ($font-size-main - $mobile-font-size-main) / 1px 
                                * (100vw / 1440));
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        & address {
            max-width: 135px;
            color: $main-light-color;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;

            @media screen and (max-width: 767px) {
                font-size: calc($mobile-font-size-main + 
                            (($font-size-main - $mobile-font-size-main) / 1px + 
                            ($font-size-main - $mobile-font-size-main) / 1px * 0.7) * 
                            ((100vw - 320px) / 1440));
            }
        
            @media screen and (min-width: 767px) {
                font-size: calc($mobile-font-size-main + ($font-size-main - $mobile-font-size-main) / 1px 
                                * (100vw / 1440));
            }

            @media screen and (max-width: 900px) {
                text-align: center;
            }
        }
    }

    &__item__title {
        @include title-topics($color:$title-light-color, $margin: 0, $letter: 1.5px);
        @media screen and (max-width: 900px) {
            text-align: center;
        }
    }

    &__social-media {
    
        @media screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    
        & a {
            margin-right: 18px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}


