@import '../../base/mixins';
@import '../../base/extends';

.editor-pick {

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 6%;
        justify-content: space-between;

        @media screen and (max-width: 1000px) and (min-width: 601px) {
            justify-content: space-around;
        }

        @media screen and (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        @extend %section-titles;

        @media screen and (max-width: 600px) {
            text-align: center
        }
    }

    &__item {
        width: 32%;
        position: relative;
        border-radius: $border-radius-topics;
        background-color: $bg-footer-copyright;

        @media screen and (max-width: 1000px) and (min-width: 601px) {
            width: 45%;

            &:last-child {
                margin-top: 6%;
            }
        }

        @media screen and (max-width: 600px) {
            width: 80%;
            margin-top: 6%;

            &:first-child {
                margin-top: 0;
            }
        }

        &-image {
            width: 100%;
            height: 100%;
            border-radius: $border-radius-topics;
        }

        &-categories {
            @extend %categories;
            justify-content: flex-end;
            position: absolute;
            top: 7%;
            right: 5%;
            

            & .category {
                @extend %category;
            }
        }

        &-info {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 8% 9%;

            & time {
                @include day;
            }
        }

        &-title { 
            @include title-topics($color: $title-light-color, $margin: 15px, $letter: 2px);
        }

        &-description {
            @include description;
        }
    }
}