@import '../../base/mixins';
@import '../../base/extends';

.popular-topics {

    &__links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2.1% 0;
    }

    &__category {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        &-item {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    &__category-button {
        display: none;
    }

    @media screen and (max-width: 511px) {
        &__category-button {
            display: block;
            color: $title-dark-color;
            font-size: $mobile-font-size-secondary;
            font-weight: 700;
            line-height: 30px;

            &:hover {
                color: $hover-color;
            }
        }
        
        &__links {
            position: relative;
        }
        
        &__category {
            display: none;

            &-item {
                margin-right: 0;
            }

            &.active {
                position: absolute;
                top: 100%;
                left: 0;
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                z-index: 2;
                background-color: $title-light-color;
                width: 30%;
                text-align: center;
                border: 1px solid $main-dark-color;
            }
        }
    }

    &__category-item a,
    &__category-action {
        color: $title-dark-color;
        font-size: $font-size-secondary;
        font-weight: 700;
        line-height: 30px;

        @media screen and (max-width: 767px) {
            font-size: calc($mobile-font-size-secondary + 
                        (($font-size-secondary - $mobile-font-size-secondary) / 1px + 
                        ($font-size-secondary - $mobile-font-size-secondary) / 1px * 0.7) * 
                        ((100vw - 320px) / 1440));
        }
    
        @media screen and (min-width: 767px) {
            font-size: calc($mobile-font-size-secondary + ($font-size-secondary - $mobile-font-size-secondary) / 1px 
                            * (100vw / 1440));
        }

        &:hover {
            color: $hover-color;
        }
    }

    &__title {
        @extend %section-titles;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 55px;
        column-gap: 10px;

        @media screen and (max-width: 738px) {
            justify-content: center;
        }
    }

    &__item {
        width: 24%;
        background-color: $title-light-color;
        border-radius: $border-radius-topics;

        @media screen and (max-width: 1144px) and (min-width: 913px) {
            width: 30%;
        }

        @media screen and (max-width: 913px) and (min-width: 541px) {
            width: 49%;
        }

        @media screen and (max-width: 541px) {
            width: 90%;
        }

        &__block-image {
            position: relative;
            top: -1px;
            background-color: transparent;
            height: 100%;
        }

        &-image {
            width: 100%;
            height: 100%;
            border-radius: $border-radius-topics;
            background-color: $bg-footer-copyright;
        }

        &-categories {
            @extend %categories;
            justify-content: center;
            position: absolute;
            top: 25px;
            right: 20px;

            & .category {
                @extend %category;
            }
        }

        &-container {
            padding: 8% 4.8% 4%;
        }

        & time {
            @include day($color: $main-dark-color);
        }

        &-title {
            @include title-topics;
        }

        &-description {
            @include description($color: $main-dark-color);
        }

        &-author {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 17px;

            &-avatar {
                max-width: 50px;
                border-radius: 50%;
            }

            &-name {
                color: $title-dark-color;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 1px;

                @media screen and (max-width: 767px) {
                    font-size: calc($mobile-font-size-main + 
                                (($font-size-main - $mobile-font-size-main) / 1px + 
                                ($font-size-main - $mobile-font-size-main) / 1px * 0.7) * 
                                ((100vw - 320px) / 1440));
                }
            
                @media screen and (min-width: 767px) {
                    font-size: calc($mobile-font-size-main + ($font-size-main - $mobile-font-size-main) / 1px 
                                    * (100vw / 1440));
                }
            }

            &-position {
                color: $main-dark-color;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 1px;

                @media screen and (max-width: 767px) {
                    font-size: calc($mobile-font-size-main + 
                                (($font-size-main - $mobile-font-size-main) / 1px + 
                                ($font-size-main - $mobile-font-size-main) / 1px * 0.7) * 
                                ((100vw - 320px) / 1440));
                }
            
                @media screen and (min-width: 767px) {
                    font-size: calc($mobile-font-size-main + ($font-size-main - $mobile-font-size-main) / 1px 
                                    * (100vw / 1440));
                }
            }
        }
    }
}